.tile-grid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media only screen and (min-width: 850px) {
    .tile-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.tile-grid .tile {
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 2%;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
    height: 120px;
}

.tile-grid .tile.tile--2x {
    height: 240px;
}

.tile-grid .tile .tile-3col {
    margin: 1rem auto 0;
    padding: 1rem 0 0;
    border-top: 1px solid var(--background-primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}