:root {
    --font-primary-color: #2c304d;
    --font-secondary-color: #5D7D8E;
    --background-primary-color: #f3f3f3;
    --background-secondary-color: white;
    --background-alt-color: #2B3A42;
    --default-font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    --header-font-family: "IndustryInc-Base", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

body {
    font-family: var(--default-font-family);
    color: var(--font-primary-color);
    background: var(--background-primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font-family);
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem;
}

.application {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 4rem auto 2rem;
    grid-column-gap: 10px;
    width: 100vw;
    height: 100vh;
}

.application .hero {
    font-size: 4rem;
}

.application .subtitle {
    font-size: 0.8rem;
    margin: 0.4rem 0;
    color: var(--font-secondary-color);
}

.application .sidebar {
    grid-row: span 3;
    background: var(--background-alt-color);
}

.application .pageheader {
    grid-column: span 23;
    line-height: 4rem;
}

.application .main {
    padding-top: 1rem;
    grid-column: span 23;
}


.application .footer {
    grid-column: span 23;
    line-height: 2.4em;
    padding: 0 10px;
    font-size: 0.8em;
    text-align: center;
}

.application .footer a, .application .footer a:active {
    color: #5dafe6;
    text-decoration: none;
}

.application .footer a:hover {
    text-decoration: underline;
}

.application .icon {
    width: 50px;
}

.application .icon.icon--large {
    width: 100px;
}

.application .icon.icon--small {
    width: 25px;
}