@font-face {
    font-family: IndustryInc-Base;
    src: url(29DB7E_0_0.eot);
    src: url(29DB7E_0_0.eot?#iefix) format('embedded-opentype'),url(29DB7E_0_0.woff) format('woff'),url(29DB7E_0_0.ttf) format('truetype')
}